@charset "UTF-8";

section {
	background-color: #f5f5f5;
}

#aboutbox {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	padding-top: 30px;
}

#aboutbox h1 {
	margin-bottom: 30px;
	font-size: 30px;
}

#abouttext {
	width: 1000px;
	height: 600px;
	margin-bottom: 30px;
	border: 1px solid #dbdbdb;
}